@import 'vars.scss';

.WishLIst {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.SectionName {
  margin: 5% 0;
  width: 100%;
  font-size: 3rem;
  text-align: center;

  font-family: $font-neon-lamp;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: #fdfef8 0px 0px 4px, #fce660 0px 0px 10px, #fad60f 0px 0px 20px, #fe7b02 0px 0px 30px,
    #f77105 0px 0px 50px;

  &:hover {
    cursor: default;
  }

  @include respond-to(tablet) {
    font-size: 2.5rem;
  }
  @include respond-to(mobile) {
    font-size: 2rem;
  }
}
.ShelvesContainer {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Shelf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div:last-of-type {
    width: 100%;
  }

  hr {
    width: 96%;
    margin-top: 15px;
    border: 1px solid rgba(82, 82, 82, 0.9);
  }
}

.PlatformLogo {
  cursor: pointer;
  height: 80px;
  width: 30%;
  transition: all 200ms ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &:hover {
    transform: scale(1.1);
  }
  @include respond-to(mobile) {
    width: 50%;
  }
}

.EmptyList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.GameLots {
  // width: 300px;
  // height: 300px;
  overflow: hidden;
  margin-bottom: 2%;
  margin: 15px;

  &.EbayShowing {
    flex-basis: 100%;
  }

  @include respond-to(mobile) {
    &.EbayShowing {
      flex: 1;
    }
  }
}
