.WishLIst {
  height: 100%;
  background: url('../../../assets/images/backgrounds/city_pixels.png'),
    rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.SectionName {
  margin: 5% 0;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.SectionName h1 {
  font-family: 'Warnes', cursive;
  opacity: 1;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: #fdfef8 0px 0px 4px, #fce660 0px 0px 10px, #fad60f 0px 0px 20px,
    #fe7b02 0px 0px 30px, #f77105 0px 0px 50px;
}

.ShelvesContainer {
  width: 95%;
  min-height: 100%;
  overflow: visible;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Shelf {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Shelf > div:last-child {
  width: 100%;
}

.PlatformLogo {
  cursor: pointer;
  height: 70px;
}

.PlatformLogo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.EmptyList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .SectionName {
    text-align: center;
    font-size: 1.5rem;
  }
}
