.Dragging {
  opacity: 0;
}

.Sorting {
  pointer-events: none;
  user-select: none;
}

.Controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DragHandle {
  height: 50px;
  width: 50px;
  fill: currentColor;
  transform: rotate(90deg);
  cursor: grab;
}

.Removing {
  animation: remove 400ms linear forwards;
}

@keyframes remove {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100%, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-200%, 0);
    width: 0;
    opacity: 0;
  }
}
