.SelectBox {
  width: 100%;
  height: 100%;
  line-height: normal;
  position: relative;
  cursor: pointer;
  border: none;
}

.Selection {
  width: 100%;
  height: 100%;
  border: 1px solid whitesmoke;
}

.TextSection {
  transition: letter-spacing 300ms ease;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextSection:hover {
  letter-spacing: 2px;
  background-color: #65323e;
}

.Options {
  width: inherit;
  z-index: 10;
  position: absolute;
}

.Options > div {
  border: 1px solid whitesmoke;
  border-top: none;
}
