@import 'Configs/Variables.scss';

$border-radius: 7px;
$transition: all 200ms ease-in-out;

.SelectBox {
  @include w100v100;
  position: relative;
}

.TextSection {
  border: 1px solid rgba(82, 82, 82, 0.9);
  border-radius: 0;
  color: $font-white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  transition: all 100ms ease;
  text-transform: capitalize;
  background-color: getBtnColor('basic');
  flex: 1;

  &:hover {
    background-color: darken(getBtnColor('basic'), 10);
  }

  &_first {
    border-radius: $border-radius;
  }

  &_first_open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &_last {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  span {
    flex: 1;
  }
}

.Options {
  width: 100%;
  z-index: 10;
  position: absolute;
}

.ArrowSvg {
  height: 100%;
  width: 25px;
  padding: 3px;
  transform: rotate(0);
  transition: $transition;

  &_rotated {
    transform: rotate(90deg);
  }
}
