@import '../../../Сonfigs/Variables.scss';
$border-radius: 7px;
$transition: all 200ms ease-in-out;

.SelectBox {
  @include w100v100;
  position: relative;
  cursor: pointer;
}

.TextSection {
  @include flexCenter;
  transition: all 100ms ease;
  text-transform: capitalize;
  background-color: getBtnColor('basic');
  flex: 1;
  &:hover {
    background-color: darken(getBtnColor('basic'), 10);
  }
  &:last-of-type {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.Selection {
  @include w100v100;
  border: 1px solid $basic-border-gray;
  border-radius: $border-radius;
  display: flex;
  background-color: getBtnColor('basic');
  transition: $transition;
  &:hover {
    background-color: darken(getBtnColor('basic'), 10);
  }
  &.ListOpen {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .TextSection {
    background-color: transparent;
  }
}

.Options {
  width: inherit;
  z-index: 10;
  position: absolute;

  div {
    border: 1px solid $basic-border-gray;
    border-top: none;
  }
}
.SvgContainer {
  height: 100%;
  width: 18px;

  svg {
    transform: rotate(0);
    transition: $transition;
    &.SvgRotate {
      transform: rotate(90deg);
    }
  }
}
