@import 'vars.scss';

.ContorlsSection {
  grid-area: controls;
  width: 100%;
  padding: 10px 20px;

  @include respond-to(mobile) {
    padding: 5px 0;
    margin-top: auto;
  }

  .ButtonsContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);

    @include respond-to(tablet) {
      grid-template-areas:
        'wishlist ownedlist'
        'back back';
      grid-template-columns: 1fr 1fr;
    }

    @include respond-to(mobile) {
      grid-template-areas:
        'row'
        'row'
        'row';
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 1fr);
    }

    .ButtonNeonWrapper {
      position: relative;
      align-self: center;
      justify-self: center;
      margin: 10px;

      .ButtonNeon {
        min-width: 110px;
      }

      .ButtonTooltip {
        --scale: 0;
        $background-color: getBtnColor('disabled');
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%) translateY(-100%) scale(var(--scale));
        transition: all 150ms;
        transform-origin: bottom;
        padding: 15px;
        background-color: $background-color;
        width: max-content;
        max-width: 300px;
        border-radius: 7px;

        @include respond-to(mobile) {
          max-width: 170px;
          left: 30%;

          font-size: 0.8rem;
        }

        button {
          min-width: auto;
          display: inline-block;
          cursor: pointer;
          background-color: transparent;
          border: none;
          text-decoration: underline;
          color: inherit;
          font-style: normal;
          &:hover {
            color: $nav-color;
          }
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%) scale(var(--scale));
          transition: all 150ms;
          transform-origin: top;
          border: 15px solid transparent;
          border-top-color: $background-color;
        }
      }
      &:hover {
        .ButtonTooltip {
          --scale: 1;
        }
      }

      @include respond-to(tablet) {
        &:last-child {
          grid-area: back;
        }
        button {
          font-size: 0.9rem;
        }
      }

      @include respond-to(mobile) {
        margin: 5px 0;
        width: auto;

        &:last-child {
          grid-area: auto;
        }
        button {
          font-size: 0.7rem;
          width: auto;
        }
      }
    }
  }
}
