.Profile {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.ShelvesContainer {
  width: 95%;
  min-height: 100%;
  background-color: slategrey;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Shelf {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Shelf > div:last-child {
  width: 100%;
}

.PlatformLogo {
  background-color: tomato;
  height: 20px;
  width: 100%;
}
