@import '../../configs/Variables.scss';
$box-shadow: 0px 1px 0px #fdfef8, 0px 2px 0px #fce660, 0px 4px 10px #f77105;

.Profile {
  @include contentWidth;
  @include minHeight;
  background-color: $content-underlayer-color;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
}
.NavTabs {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);

  ul {
    padding-left: 1%;
    display: flex;
    width: 100%;

    margin-top: 1%;
    border-bottom: 1px solid $basic-border-gray;

    font-size: 1.3rem;
    list-style: none;
    text-align: center;
  }
  li {
    cursor: pointer;
    width: max-content;
    background-color: $content-underlayer-color;
    margin-right: 1%;
    padding: 10px;
    border: 1px solid $basic-border-gray;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transform-origin: bottom;
    transform: scale(0.9);
    transition: all 300ms ease-in-out;

    &.active {
      transform: scale(1);
      box-shadow: $box-shadow;
    }

    &:hover {
      transform: scale(1);
      box-shadow: $box-shadow;
      font-size: 1.3rem;
      transition: 300ms;
      span {
        left: 0%;
        transition: 1s;
      }
    }
  }
}
