@import '../../Сonfigs/Variables.scss';
$box-shadow: 0px 1px 0px #fdfef8, 0px 2px 0px #fce660, 0px 4px 10px #f77105;
@mixin nav-tab-border {
  border: 1px solid $basic-border-gray;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
@mixin nav-tab-active {
  border-color: $basic-border-gray;
  background-color: $content-underlayer-color;
  color: $font-white;
}

.Profile {
  @include contentWidth;
  @include minHeight;
  background-color: $content-underlayer-color;
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
}
.NavTabs {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);

  ul {
    padding-left: 1%;
    display: flex;
    width: 100%;
    margin-top: 1%;
    border-bottom: 1px solid $basic-border-gray;
    color: darken($font-white, 20);
    font-size: 1.3rem;
    list-style: none;
    text-align: center;
  }
  li {
    cursor: pointer;
    width: max-content;
    margin-right: 1%;
    padding: 10px;
    @include nav-tab-border;
    border-color: transparent;
    transition: all 200ms ease-in-out;

    &.active {
      @include nav-tab-active;
    }

    &:hover {
      @include nav-tab-active;
    }
  }
}
