@import 'Configs/Variables.scss';

.ErrorBoundary {
  @include contentWidth;
  min-height: 100vh;
  background-color: $content-underlayer-color;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 3.5rem;
  }

  .AppCrashedTxt {
    font-size: 1.2rem;
  }
}

.BtnSection {
  display: flex;
  justify-content: center;

  & > button {
    margin: 30px;
  }
}
