.EbayItemCard {
  width: 400px;
  height: 280px;
  border: 1px solid gray;
  position: relative;
  background-color: #eeeeee;
  color: gray;

  display: flex;
}

.EbayItemCard:hover .Ribbon {
  visibility: hidden;
  opacity: 0;
}

hr {
  border: 1px solid gray;
}

.ImgArea {
  height: 100%;
  width: 200px;
  background-color: rgb(238, 238, 238);
  /* box-shadow: 5px 5px 10px rgb(61, 61, 61); */
  padding: 10px 0;

  display: flex;
  flex-direction: column;
}

.SvgWrapper {
  flex: 1;
  margin-top: 5px;
  position: relative;
  /* background-color: palegreen; */
}

.CardSpinner {
  margin: auto;
  width: 30%;
}

.CardSpinner svg {
  stroke: gray;
}
