@import '../../../../Сonfigs/Variables.scss';

$card-color: #eeeeee;
$card-font-color: gray;

.EbayItemCard {
  @include w100v100;
  position: relative;
  background-color: $card-color;
  color: $card-font-color;
  display: flex;

  &:hover .Ribbon {
    visibility: hidden;
    opacity: 0;
  }

  hr {
    border: 1px solid $basic-border-gray;
  }
}

.ImgArea {
  height: 100%;
  width: 200px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;

  @include respond-to(mobile) {
    width: 150px;
  }

  .SvgWrapper {
    color: $card-font-color;
    height: 30px;
    margin-top: auto;
    position: relative;
    transition: all 300ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.CardSpinner {
  position: relative;
  margin: auto;
  width: 30%;
  height: 30%;

  svg {
    stroke: $card-font-color;
  }
}
