.Slider {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Images {
  position: absolute;
  display: flex;
}
.Images .Active {
  transform: scale(1);
}

.Images > div {
  transform: scale(0.9);
  user-select: none;
}

.Images > div > img {
  user-select: none;
  height: 100%;
  width: 100%;
}

.Btn {
  opacity: 0;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  width: 10%;
  height: 100%;
  transition: opacity 300ms ease;
}

.Btn > img {
  max-width: 50px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PrevButton {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5746673669467788) 0%,
    rgba(0, 0, 0, 0.07886904761904767) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  top: 0;
  left: 0;
}

.NextButton {
  background: linear-gradient(
    266deg,
    rgba(0, 0, 0, 0.5746673669467788) 0%,
    rgba(0, 0, 0, 0.07886904761904767) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  right: 0;
  top: 0;
}

.BtnClicked {
  animation: btnClicked 300ms ease-in-out;
}

.BtnClicked180 {
  animation: btnClicked180 300ms ease-in-out;
}

@keyframes btnClicked {
  from,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
@keyframes btnClicked180 {
  from,
  to {
    transform: scale(1) rotate(180deg);
  }
  50% {
    transform: scale(0.8) rotate(180deg);
  }
}
