@import '../../../../configs/Variables.scss';

.GameLotContainer {
  width: 100%;
  margin: 2% 0;
  // padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
}

.GameLots {
  overflow: hidden;
  margin-bottom: 2%;
  margin: 15px;

  &.EbayShowing {
    flex: 1;
    flex-basis: 100%;
  }
}
