.swiper-container {
  width: 100%;
  height: 300px;
  /* background-color: yellowgreen; */
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}

.swiper-pagination-bullets {
  bottom: 5px;
}

.swiper-pagination-bullet {
  background: white;
  width: 10px;
  height: 10px;
}
.swiper-slide {
  width: 390px;
  height: 280px;

  background-color: rgb(83, 83, 70);
}
