.slick-slider,
.slick-list {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}
.slick-list {
  margin: 0 -10px;
}

.slick-slide {
  margin: 0 10px;
}

.slick-slide:focus {
  outline: none;
}

.slick-dots {
  bottom: 0px;
}
.slick-dots li.slick-active button:before {
  color: white;
}

.slick-initialized .slick-slide {
  display: block;
}
