.EbaySection {
  width: 100%;
  height: 320px;
  padding: 10px 0;

  :global .swiper-container {
    width: 100%;
    height: 300px;

    .swiper-pagination {
      position: absolute;
      bottom: 2px;

      .swiper-pagination-bullet {
        background: white;
        width: 10px;
        height: 10px;
      }
    }

    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0px;
    }

    .swiper-slide {
      width: 390px;
      height: 280px;

      background-color: rgb(83, 83, 70);
    }
  }
}

.Nax {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: darkorange;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
