@import '../../../Сonfigs/Variables.scss';

.swiper-container {
  width: 100%;
  height: 300px;

  .swiper-pagination {
    position: absolute;
    bottom: 2px;

    .swiper-pagination-bullet {
      background: white;
      width: 10px;
      height: 10px;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0px;
  }

  .swiper-slide {
    width: 390px;
    height: 280px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: darkorchid;
    background-image: none;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 5%;
    min-width: 60px;

    height: 100%;
    z-index: 10;
    cursor: pointer;
    @include flexCenter;

    &::after {
      position: absolute;
      content: '';
      background: url('../../../Assets/images/ui/slider-arrow-left.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-button-prev {
    position: absolute;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5746673669467788) 0%,
      rgba(0, 0, 0, 0.247) 100%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .swiper-button-next {
    right: 0;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5746673669467788) 0%,
      rgba(0, 0, 0, 0.247) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    &::after {
      transform: rotate(180deg);
    }
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      visibility: visible;
    }
  }
}

// .LoadingSvgWrapper {
//   position: relative;
//   height: 100%;
//   width: 100%;
//   svg {
//     position: absolute;
//     height: 20%;
//     width: 20%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
