$content-underlayer-color: rgba(44, 44, 44, 0.7);
$footer-underlayer-color: rgba(82, 82, 82, 0.589);
$button-neon-color: (
  'basic': #65323e,
  'green': #569874,
  'gray': #434343,
  'red': #963e53,
  'disabled': #5a5a5a,
);
$font-main: 'Kanit', sans-serif;
// $font-headings: 'Maven Pro', sans-serif;
$font-neon-lamp: 'Warnes', cursive;

$nav-color: #532e57;
$basic-border-gray: rgba(82, 82, 82, 0.9);
$font-white: whitesmoke;
$blue-shine-color: #2196f3;
$red-shine-color: #f32f21;
$breakpoints: (
  'mobile': 600px,
  'tablet': 900px,
  'desktop': 1200px,
);
$nav-height: 40px;
$footer-height: 40px;
$basic-content-width: 1200px;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
  }
}
@function getBtnColor($color) {
  @return map-get($button-neon-color, $color);
}
@function getBtnColor($color) {
  @return map-get($button-neon-color, $color);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin w100v100 {
  width: 100%;
  height: 100%;
}
@mixin contentWidth {
  width: $basic-content-width;
  margin: 0 auto;
  @media (max-width: $basic-content-width) {
    width: 100%;
  }
}
@mixin minHeight {
  min-height: calc(100vh - #{$footer-height} - #{$nav-height});
}
