.Button {
  border: 1px solid whitesmoke;
  background-color: gray;
  font-size: 1rem;
  cursor: pointer;
  color: whitesmoke;
  transition: letter-spacing 300ms ease, background-color 300ms ease;
  transform: scale(1);
}

.LetterSpacing:hover {
  letter-spacing: 3px;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  background-color: #65323e;
}

.Button:active {
  background-color: rgb(58, 58, 58);
}

.Pressed {
  background-color: rgb(58, 58, 58);
}
