.Button {
	border: none;
	background-color: whitesmoke;
	cursor: pointer;
}

.Button:hover {
	text-shadow: #fff 0px 0px 5px, #ff0 0px 0px 20px, #ff0 0px 0px 30px,
		#ff0 0px 0px 40px, #ff0 0px 0px 50px, #ff0 0px 0px 75px;
}
