@import 'Configs/Variables.scss';
$backgorund-color-basis: getBtnColor('basic');

.ButtonNeon {
  color: $font-white;
  width: max-content;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background: $backgorund-color-basis;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  animation: step-end;

  &.green {
    background: getBtnColor('green');
  }
  &.gray {
    background: getBtnColor('gray');
  }
  &.red {
    background: getBtnColor('red');
  }
  &:active {
    transform: scale(0.8);
  }
  &:hover {
    letter-spacing: 1px;
    letter-spacing: 1px;
    box-shadow: 0 0 10px $blue-shine-color, 0 0 30px $blue-shine-color, 0 0 60px $blue-shine-color;
  }
  &.Rectangular {
    border-radius: 0;
  }
  &.Blinking {
    animation: blink 1.5s infinite ease-out;
  }
  &.Disabled {
    transform: scale(1);
    background: getBtnColor('disabled');
    color: darken($font-white, 30%);
    &:hover {
      box-shadow: none;
      cursor: default;
      letter-spacing: normal;
    }
  }
  @include respond-to(mobile) {
    &:hover {
      box-shadow: none;
    }
  }
}

@keyframes blink {
  0%,
  100% {
    background: getBtnColor('basic');
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    background: getBtnColor('gray');
    transform: scale(1.2);
    box-shadow: 0 0 10px $blue-shine-color, 0 0 30px $blue-shine-color, 0 0 60px $blue-shine-color;
  }
}
