.ButtonNeon {
  font: inherit;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  background: #65323e;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  min-width: 100px;
  outline: none;
}

.ButtonNeon:hover {
  background: #434343;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #2196f3, 0 0 30px #2196f3, 0 0 60px #2196f3;
  transition: all 0.4s ease 0s;
  animation: step-end;
}

.ButtonNeon:active {
  transform: scale(0.8);
}

.Rectangular {
  border-radius: 0;
}

.Blinking {
  animation: blink 1.5s infinite ease-out;
}

@keyframes blink {
  0%,
  100% {
    background: #65323e;
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    background: #434343;
    transform: scale(1.2);
    box-shadow: 0 0 10px #2196f3, 0 0 30px #2196f3, 0 0 60px #2196f3;
  }
}
