.Backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 20;
}
.CloseIconContainer {
  display: none;
}

@media (max-width: 800px) {
  .AuthCard {
    width: 100%;
    height: 80vh;
  }
  .CloseIconContainer {
    display: block;
    cursor: pointer;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }

  .CloseIconContainer > img {
    width: 100%;
    height: 100%;
  }
}
