@import '../../../Ð¡onfigs/Variables.scss';
$card-main-color: #65323e;
$text-color: $font-white;

.GameCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 4px solid $card-main-color;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: $text-color;

  &:hover {
    box-shadow: 0 0 5px $blue-shine-color, 0 0 10px $blue-shine-color,
      0 0 40px $blue-shine-color;
    transform: scale(0.9, 0.9);
  }
}

.ImgContainer {
  width: 100%;
  height: 80%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.NameSection {
  width: 100%;
  height: 20%;
  background-color: $card-main-color;
  @include flexCenter;
  text-align: center;
}
