.InputWrapper {
  height: 100%;
  width: 100%;
  border: 1px solid whitesmoke;
  border-right: none;
}

.Input {
  width: 100%;
  outline: none;
  text-indent: 5px;
  color: whitesmoke;
  background-color: transparent;
  border: none;
}

.Input::placeholder {
  color: whitesmoke;
  opacity: 0.5;
  text-shadow: none;
}
