@import '../../configs/Variables.scss';

.PlatformSelector {
  @include contentWidth;
  min-height: calc(100vh - #{$footer-height} - #{$nav-height});
  background-color: $content-underlayer-color;
  display: flex;
  flex-direction: column;
}

.PlatformSelectorHeading {
  @include flexCenter;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5%;
}
.PlatformContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;

  div {
    height: 500px;
    width: 350px;
    margin: 10px;
    @include respond-to(tablet) {
      height: 350px;
      width: 250px;
      margin: 2%;
    }
    @include respond-to(mobile) {
      height: 250px;
      width: 70%;
    }
  }
}
