.PlatformSelector {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.PlatformSelectorHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
}
.PlatformContainer {
  /* background-color: maroon; */
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.PlatformContainer > div {
  height: 600px;
  width: 400px;
  margin: 10px;
}

@media (max-width: 768px) {
  .PlatformContainer > div {
    height: 350px;
    width: 250px;
    margin: 5%;
  }

  .PlatformSelectorHeading {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .PlatformContainer > div {
    height: 250px;
    width: 70%;
    margin: 5%;
  }

  .PlatformSelectorHeading {
    font-size: 1rem;
  }
}
