@import '../../../Configs/Variables.scss';

.EbaySwiper {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  position: relative;

  .NoItems {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(mobile) {
      font-size: 1rem;
    }
  }

  @include respond-to(mobile) {
    height: 300px;

    :global .swiper-container {
      width: 100%;
      height: 280px;

      .swiper-slide {
        height: 250px;
      }
    }
  }
}

.SwiperHidden {
  opacity: 0;
}

.DotSpinner {
  position: absolute;
  height: 20%;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
