.Navigation {
  background-color: #532e57;
  position: relative;
  z-index: 25;
}

.Navigation nav {
  height: 100%;
  width: 100%;
}

.Navigation ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.Navigation li {
  cursor: pointer;
}

.ProfileMobile {
  display: none;
}

@media (max-width: 425px) {
  .ProfileDesctop {
    display: none;
  }
  .ProfileMobile {
    display: list-item;
  }
}
