@import '../../../configs/Variables.scss';
@mixin flexColSA {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.SignUp {
  @include w100v100;
  @include flexColSA;
  position: absolute;
  align-items: center;
  background-image: url('../../../assets/images/backgrounds/signup_back.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.582);
  background-blend-mode: overlay;
  form {
    width: 70%;
    height: 70%;
    @include flexColSA;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  label {
    display: block;
  }
  @include respond-to(mobile) {
    justify-content: space-around;
    form {
      flex: 1;
      width: 100%;
    }
    h1 {
      font-size: 2rem;
      margin: 10% 0 5%;
    }
    .CloseSvgWrapper {
      width: 25px;
      height: 25px;
      top: 1%;
      right: 1%;
    }
  }
}
.InputsSection {
  flex: 1;
  display: flex;
  flex-direction: column;

  .InputWrapper {
    flex: 1;
    margin: 0 10%;
    input {
      width: 100%;
    }
  }
  @include respond-to(mobile) {
    margin-top: 0%;
    min-height: 75%;
    flex: 0;
  }
}

.BtnSection {
  align-self: flex-end;
  height: 10%;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  button {
    height: 7%;
    min-height: 35px;
    min-width: 45%;
  }
  @include respond-to(mobile) {
    font-size: 0.8rem;
    padding: 0 10%;
  }
}
.CloseSvgWrapper {
  cursor: pointer;
  width: 6%;
  height: 6%;
  top: 2%;
  right: 2%;
  position: absolute;
  z-index: 30;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
