@import 'Configs/Variables.scss';

.EbyaLotSection {
  margin: 15px;
  min-width: 370px;
  border-radius: 5px;

  color: $font-white;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: grid;
  grid-template-areas:
    'gamebox btns ebay '
    'name toggler controls';
  grid-template-columns: 200px 170px auto;
  grid-template-rows: 300px auto;

  @include respond-to(tablet) {
    grid-template-columns: 170px 170px auto;
  }

  @include respond-to(mobile) {
    grid-template-areas:
      'gamebox btns'
      'name toggler'
      'ebay ebay';
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px min-content auto;
  }

  &:hover {
    .CloseSvgWrapper {
      opacity: 0.3;
      visibility: visible;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.Gamebox {
  grid-area: gamebox;
}

.ButtonSection {
  grid-area: btns;
  height: 70%;
  margin: auto 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid $basic-border-gray;
  border-right: 2px solid $basic-border-gray;

  button {
    width: 110px;
    padding: 5px 0px;
    font-size: 0.8rem;
  }

  @include respond-to(mobile) {
    height: 90%;

    button {
      width: 85%;
      font-size: 0.7rem;
    }
  }
}

.NameBadge {
  grid-area: name;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: getBtnColor('basic');

  @include respond-to(mobile) {
    font-size: 0.9rem;
  }
}

.KnobTogglerSection {
  grid-area: toggler;
  padding: 10px 0;
  font-size: 0.8rem;
}

.EbaySwiper {
  grid-area: ebay;
  width: 0px;
  overflow: hidden;
  position: relative;
  transition: width 300ms ease-in-out;

  &_expand {
    width: 400px;
  }

  .EbaySectionSwiper {
    padding: 0px;
    height: 300px;

    @include respond-to(mobile) {
      height: 250px;
    }

    :global .swiper-container {
      height: 100%;

      .swiper-slide {
        width: 390px;
        height: 100%;

        @include respond-to(mobile) {
          width: 100%;
        }
      }
    }
  }
}

.sixDotsSvg {
  height: 50px;
  width: 50px;
  fill: currentColor;
  transform: rotate(90deg);
  cursor: grab;
}

.CloseSvgWrapper {
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 30px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

.ControlsSection {
  grid-area: controls;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
