@import 'vars.scss';

.EbaySection {
  width: 100%;

  display: grid;
  grid-template-areas:
    'label label '
    'ebay ebay';
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
  }

  .EbaySectionContent {
    grid-area: ebay;
    height: 350px;
  }

  @include respond-to(mobile) {
    font-size: 0.8rem;
  }
  .EbayOffersBtn {
    grid-area: label;
    position: relative;
    margin: 0 20px;

    @include respond-to(mobile) {
      margin: 0 10px;
    }
  }
}
