@import 'vars.scss';

@mixin section-header {
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
  }
}

.EbaySection {
  width: 100%;

  display: grid;
  grid-template-areas:
    'label label '
    'ebay ebay';
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  @include section-header;

  .EbaySectionContent {
    grid-area: ebay;
    height: 350px;
  }

  @include respond-to(mobile) {
    font-size: 0.8rem;
  }
  .EbayLabel {
    grid-area: label;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
    @include respond-to(mobile) {
      margin: 0 10px;
    }
  }
}

.DropDownSvgContainer {
  cursor: pointer;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 10px;
  fill: whitesmoke;
  height: 0.8rem;
  width: 0.8rem;
  display: inline-block;
}

.ChevronSvg {
  path: {
    stroke: currentColor;
    stroke-width: 30;
  }
}
