@import 'Configs/Variables.scss';

$card-color: #eeeeee;
$card-font-color: gray;
$skeleton-gradient-color: rgba(0, 0, 0, 0.452);

.EbayItemCard {
  @include w100v100;
  position: relative;
  background-color: $card-color;
  color: $card-font-color;
  display: flex;

  &:hover .Ribbon {
    visibility: hidden;
    opacity: 0;
  }

  hr {
    border: 1px solid $basic-border-gray;
  }
}

.CardSpinner {
  position: relative;
  margin: auto;
  width: 30%;
  height: 30%;

  svg {
    stroke: $card-font-color;
  }
}

//SKELTON STYLES
$skeleton-background-clr: #d6d6d6;

.EbayItemCardSkeleton {
  @include w100v100;
  display: flex;
  background-color: $card-color;
  color: $card-font-color;
}

.SkeletonLeftPart {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .SkeletonImg {
    height: 80%;
    width: 80%;
    @include basicSkeleton($skeleton-background-clr);
  }

  .SkeletonAuction {
    height: 10%;
    width: 80%;
    border-radius: 5px;
    @include basicSkeleton($skeleton-background-clr);
  }
}

.SkeletonRightPart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .SkeletonBar {
    width: 80%;
    height: 6%;
    border-radius: 5px;

    @include basicSkeleton($skeleton-background-clr);
  }
}
