.GameBox {
  width: 100px;
  height: 100%;
  background-color: turquoise;
  overflow: hidden;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.BoxArtImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
