@import 'vars.scss';

$info-color: rgb(124, 182, 209);
$modal-color: rgb(153, 153, 153);

.InfoModal {
  z-index: 26;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfoModalMain {
  z-index: 27;
  width: 350px;
  height: 250px;
  background-color: $modal-color;

  .InfoSvgContainer {
    position: relative;
    background-color: $info-color;
    height: 50%;
    svg {
      height: 80%;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .MessageSection {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;

    p {
      text-align: center;
      font-size: 1.2rem;
    }
    button {
      min-width: 110px;
    }
  }
}

.InfoModal {
  position: 'absolute';
}
