@import 'vars.scss';

.SectionHeaderBtn {
  background-color: transparent;
  color: $font-white;
  border: none;
}

.SvgIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  height: 0.8rem;
  width: 0.8rem;

  path {
    stroke: $font-white;
    fill: $font-white;

    stroke-width: 3;
  }
}
