@import '../../configs/Variables.scss';

$controlsHeight: 30px;

.GameSelector {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $content-underlayer-color;
  display: flex;
  flex-direction: column;
}

.Header {
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 10px 0 10px black;
  display: flex;
  flex-direction: column;
}

.ControlsContainer {
  @include flexCenter;
  justify-content: space-around;
  // align-self: center;
  margin: 10px 0;

  // width: 80%;
}
.InputWrapper {
  height: $controlsHeight;
  width: 300px;
  // background-color: chocolate;
}

.SortByContainer {
  @include flexCenter;
  // background-color: chartreuse;

  p {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  .SelectBoxWrapper {
    height: $controlsHeight;
    width: 200px;
  }
}

.Pagination {
  // align-self: center;
  // background-color: burlywood;
  // height: 40px;
  width: 40%;
  @include flexCenter;
}

.GamePicker {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .GameCardWrapper {
    margin: 1%;
    height: 300px;
    width: 300px;
  }
}
