.GameSelector {
  min-height: 100%;
  display: grid;
  grid-template-rows: 16vh auto;
}

.Header {
  background-color: rgb(139, 155, 201);
  display: grid;
  grid-template-areas:
    'info settings settings settings'
    'info settings settings settings'
    'pagination pagination pagination pagination';
}
.PlatformInfo {
  grid-area: info;
  background-color: lightgreen;
}

.Desctiprion {
  grid-area: desc;
  overflow: auto;
  background-color: lightpink;
}

.Settings {
  grid-area: settings;
  background-color: lightslategrey;
  overflow: auto;
}

.GamePicker {
  background-color: plum;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.GamePicker > div {
  margin: 1%;
  height: 300px;
  width: 300px;
}
