.GameSelector {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  height: 150px;
  background-color: rgba(0, 0, 0, 0.6);

  display: grid;
  grid-template-areas:
    'img info info info info'
    'img settings settings settings settings'
    'pagination pagination pagination pagination pagination';
  grid-template-columns: min-content auto;
}

.PlatformInfo {
  grid-area: info;
  /* background-color: rgb(40, 61, 38); */

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.PlatformInfo span {
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
}

.IconContainer {
  grid-area: img;
  /* background-color: aqua; */

  width: 300px;
  padding: 1%;
  overflow: hidden;
}

.IconContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Settings {
  grid-area: settings;
  /* background-color: rgb(95, 69, 35); */
}

.Pagination {
  grid-area: pagination;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: chocolate; */
}

.GamePicker {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.GamePicker > div {
  margin: 1%;
  height: 300px;
  width: 300px;
}

@media (max-width: 800px) {
  .IconContainer {
    display: none;
  }

  .PlatformInfo {
    display: none;
  }
}
