.GameDetailed {
  background-color: violet;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  display: grid;
  grid-template-areas:
    'info description description'
    'info description description'
    'info screenshots screenshots'
    'info controls controls';
}

.Info {
  grid-area: info;
  background-color: yellowgreen;

  padding: 10px;
}

.Desc {
  grid-area: description;
  background-color: tomato;

  width: 600px;
  padding: 10px;
}

.Screenshots {
  grid-area: screenshots;
  /* width: 600px; */
  background-color: sandybrown;
}

.Contorls {
  grid-area: controls;
  background-color: saddlebrown;
}
