.GameDetailed {
  background-color: rgba(0, 0, 0, 0.4);
  max-height: 100%;
  overflow: auto;
  width: 100%;

  display: grid;

  grid-template-areas:
    'info description description'
    'info description description'
    'screenshots screenshots screenshots'
    'controls controls controls';
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto min-content auto;
}

.Info {
  grid-area: info;
  /* background-color: yellowgreen; */
  width: 320px;
  padding: 10px;
}

.Desc {
  grid-area: description;
  /* background-color: tomato; */

  overflow: auto;
  padding: 10px;
}

.Screenshots {
  /* background-color: burlywood; */
  grid-area: screenshots;
}

.Contorls {
  grid-area: controls;
  /* background-color: saddlebrown; */

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

/* @media (max-width: 1200px) {
  .GameDetailed {
    grid-template-areas:
      'info description description'
      'info description description'
      'screenshots screenshots screenshots'
      'controls controls controls';
  }
} */

@media (max-width: 500px) {
  .GameDetailed {
    display: flex;
    flex-direction: column;
  }
  .Info {
    width: 100%;
    font-size: 1.3rem;
  }

  .Desc {
    font-size: 1.3rem;
    overflow: visible;
  }
  .Screenshots {
    min-height: max-content;
  }
  .Contorls > button {
    min-width: auto;
  }
}
