.GameDetailed {
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  width: 100%;

  display: grid;

  grid-template-areas:
    /* 'info description description'
    'info description description'
    'info screenshots screenshots'
    'controls controls controls'; */
    'info description description'
    'info description description'
    'info screenshots screenshots'
    'info controls controls'
    'soundtrack gameplay commentarea';

  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto min-content min-content auto;
}

.Info {
  grid-area: info;
  /* background-color: yellowgreen; */
  width: 320px;
  padding: 10px;
}

.Desc {
  grid-area: description;
  /* background-color: tomato; */
  min-height: 50%;
  overflow: auto;
  padding: 10px;
}

.Screenshots {
  /* background-color: burlywood; */
  grid-area: screenshots;
}

.VideoSection {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.VideoSectionLabel {
  background-color: #65323e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Soundtrack {
  grid-area: soundtrack;
}

.Gameplay {
  justify-self: center;
  grid-area: gameplay;
}

.CommentArea {
  grid-area: commentarea;
  padding: 10px;
  width: 100%;
  height: 100%;
  /* background-color: green; */
}

.CommentArea textarea {
  background-color: transparent;
  font-family: inherit;
  color: whitesmoke;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.CommentArea textarea::placeholder {
  font-family: inherit;
  font-style: italic;
  color: whitesmoke;
  opacity: 0.5;
}

.Contorls {
  grid-area: controls;
  /* background-color: saddlebrown; */

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

@media (max-width: 500px) {
  .GameDetailed {
    display: flex;
    flex-direction: column;
  }
  .Info {
    width: 100%;
    font-size: 1.3rem;
  }

  .Desc {
    font-size: 1.3rem;
    overflow: visible;
  }
  .Screenshots {
    min-height: max-content;
  }
  .Contorls > button {
    min-width: auto;
  }
}
