@import '../../../../configs/Variables.scss';

.Label {
  font-size: 1.2rem;
}

.InputContainer {
  position: relative;
}
.InputAuth {
  font-size: 1rem;
  border: none;
  outline: none;
  text-indent: 5px;

  &:focus {
    box-shadow: 0 0 10px $blue-shine-color, 0 0 30px $blue-shine-color,
      0 0 60px $blue-shine-color;
  }
}

.WrongInput,
.WrongInput:focus {
  box-shadow: 0 0 10px $red-shine-color, 0 0 30px $red-shine-color,
    0 0 60px $red-shine-color;
}

.WrongMessage {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}

.HideShowToggler {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 2px 2px;
  height: 100%;
  width: 10%;
  transition: background 500ms ease-in-out;
  img {
    width: 100%;
    height: 100%;
  }
}

.HideShowTogglerActive {
  background: getBtnColor('basic');
}
