.Label {
  font-size: 1.2rem;
}

.InputContainer {
  position: relative;
}
.InputAuth {
  font-size: 1rem;
  border: none;
  outline: none;
  text-indent: 5px;
}

.InputAuth:focus {
  box-shadow: 0 0 10px #2196f3, 0 0 30px #2196f3, 0 0 60px #2196f3;
}

.WrongInput,
.WrongInput:focus {
  box-shadow: 0 0 10px #f32f21, 0 0 30px #f32f21, 0 0 60px #f32f21;
}

.WrongMessage {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}

.HideShowToggler {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 2px 2px;
  height: 100%;
  width: 10%;
  transition: background 500ms ease-in-out;
}

.HideShowToggler > img {
  width: 100%;
  height: 100%;
}

.HideShowTogglerActive {
  background: #65323e;
}
