@import '../../Configs/Variables.scss';

$controlsHeight: 30px;

.GameSelector {
  height: 100%;
  background-color: $content-underlayer-color;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  @include respond-to(tablet) {
    grid-template-areas:
      'search  sort'
      'pagination pagination';
    grid-template-columns: 50% 50%;
  }
}

.Header {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 10px 0 10px black;
}

.ControlsContainer {
  margin: 20px;
  display: grid;
  grid-template-areas: 'search pagination sort';
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  justify-items: center;

  @include respond-to(tablet) {
    margin: 10px 1%;
    grid-template-areas:
      'search  sort'
      'pagination pagination';
    grid-template-columns: 50% 50%;
  }
  @include respond-to(mobile) {
    margin: 5px;
  }

  .InputWrapper {
    grid-area: search;
    height: $controlsHeight;
    width: 80%;

    @include respond-to(mobile) {
      width: 100%;
    }
  }

  .SelectBoxWrapper {
    grid-area: sort;
    height: $controlsHeight;
    width: 70%;
    @include respond-to(mobile) {
      width: 100%;
    }
  }

  .Pagination {
    grid-area: pagination;
    width: 100%;
    @include flexCenter;
    @include respond-to(tablet) {
      margin-top: 2%;
    }
  }
}

.GamePicker {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include respond-to(mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  .GameCardWrapper {
    position: relative;
    margin: 4% 8%;

    @include respond-to(tablet) {
      margin: 3%;
    }
    @include respond-to(tablet) {
      margin: 2%;
    }
    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }
  }

  .GameCard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
  }

  .NoGamesFound {
    font-size: 2rem;
    margin: 10% 2% 0;
    grid-column: 1 / -1;
    text-align: center;
    @include flexCenter;
  }
}

.BottomPagination {
  margin: auto auto 0;
  width: 40%;

  @include respond-to(tablet) {
    width: 100%;
  }
}
