.Description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #202526;
}

.Description h4 {
  font-weight: 400;
  height: 30%;
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
}

.Description > button {
  margin: auto;
}

.PriceSection {
  margin-top: auto;
}

.AcutionSection {
  margin-top: auto;
}

.TimeLeft {
  color: #963e53;
}
.Delivery {
  color: gray;
  width: max-content;
  margin: auto;
  font-size: 0.9rem;
}

.Delivery .SpinnerContainer {
  width: 40px;
  margin: auto;
}

.Delivery span {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.Total {
  color: #202526;
}

.Ribbon {
  pointer-events: none;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out;
}

.Ribbon::before,
.Ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
}
.Ribbon span {
  position: absolute;
  display: block;
  width: 260px;
  line-height: 40px;
  background-color: #963e53;
  color: whitesmoke;
  text-align: center;
}

/* top left*/
.RibbonTopLeft {
  top: -5px;
  left: -5px;
}
.RibbonTopLeft::before,
.RibbonTopLeft::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.RibbonTopLeft::before {
  top: 0;
  right: 0;
}
.RibbonTopLeft::after {
  bottom: 0;
  left: 0;
}
.RibbonTopLeft span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
