@import '../../../../Configs/Variables.scss';

.ButtonBasic {
  color: $font-white;
  width: max-content;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background: getBtnColor('basic');
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    letter-spacing: 1px;
    box-shadow: 0 0 10px $blue-shine-color, 0 0 30px $blue-shine-color,
      0 0 60px $blue-shine-color;
    animation: step-end;
  }
}
