@import '../../../../configs/Variables.scss';

.InputWrapper {
  @include w100v100;
  border: 1px solid whitesmoke;
  border-radius: 15px;
}

.Input {
  @include w100v100;
  outline: none;
  text-indent: 5px;
  color: whitesmoke;
  background-color: transparent;
  border: none;
}

.Input::placeholder {
  color: whitesmoke;
  opacity: 0.5;
  text-shadow: none;
}
