@import 'vars.scss';

.PlatformSelector {
  @include contentWidth;
  @include minHeight;
  display: flex;
  flex-direction: column;
}

.Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.8rem;
  margin: 10% 5% 3%;

  @include respond-to(mobile) {
    font-size: 2rem;
  }
}
.PlatformContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;

  .PlatformCard {
    height: 500px;
    width: 350px;
    margin: 10px;

    @include respond-to(tablet) {
      height: 350px;
      width: 250px;
      margin: 2%;
    }
    @include respond-to(mobile) {
      height: 200px;
      width: 90%;
      padding: 0 10%;
    }
  }
}
