@import '../../Configs/Variables.scss';

.PlatformSelector {
  @include contentWidth;
  @include minHeight;
  background-color: $content-underlayer-color;
  display: flex;
  flex-direction: column;
}

.Heading {
  @include flexCenter;
  text-align: center;
  font-size: 3rem;
  margin-top: 5%;

  @include respond-to(mobile) {
    font-size: 2rem;
  }
}
.PlatformContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  padding-top: 5%;

  .PlatformCard {
    height: 500px;
    width: 350px;
    margin: 10px;

    @include respond-to(tablet) {
      height: 350px;
      width: 250px;
      margin: 2%;
    }
    @include respond-to(mobile) {
      height: 200px;
      width: 90%;
      padding: 0 10%;
    }
  }
}
